<p id="notice"></p>

<h1>Charts</h1>

<ul></ul>
  <li><h2>Calls By Date</h2>
    <%= area_chart @line_chart_data, xtitle: "Date of Calls", ytitle: "Number of Calls" %>
  </li>
  <li><h2>Calls By Date</h2>
    <%= bar_chart @bar_chart_data %>
  </li>
<%=@first_time_summary%></br></br></br>
<%=@repeat_callers_summary%> </br></br></br></br>

<%=@first_time_summary['grouped_results']%></br></br></br></br>
<%=@sources%>

<table>
  <thead>
    <tr>
      <th>There are <%= @data.count %> Calls</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |call| %>
      <tr>
        <td><%= Date.parse(call["date"]) %></td>
        <td><%= call["total_calls"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
