<p id="notice"></p>

<h1>Charts</h1>

  Select your desired tag <%=select_tag(:tag_id, options_for_select([['Sales', 'Sales'], ['Support', 'Support'], ['Billing', 'Billing'], ['No Prompt', 'No Prompt']]), include_blank: true)%>

  Select your date range: <%=select_tag(:date_range, options_for_select([['Recent', 'recent'], ['Yesterday', 'yesterday'], ['Last 7 Days', 'last_7_days'], ['Last 30 Days', 'last_30_days'], ['This Month', 'this_month'], ['Last Month', 'last_month']]), include_blank: true)%>
<ul>
  <li><h2>Calls By Date</h2>
    <%= area_chart @line_chart_data, xtitle: "Date of Calls", ytitle: "Number of Calls" %>
  </li>
  <li><h2>First Time vs Repeat Callers</h2>
    <%= bar_chart @bar_chart_data, stacked: true%>
  </li>
  <li><h2>Calls By Keyword</h2>

    <%= pie_chart @pie_chart_kws_data, donut: true %>
  </li>
</ul>






